
header{
  background-color: rgba(255, 99, 71, 0.068);
}
div>ul>li{
  padding-right: 30px;
}
div>ul>li>a{
  font-size: 22px;
  font-weight: 600;
  color: rgb(65, 133, 10) !important;
}
div>ul>li>a:hover{
  color: tomato !important;
}